.Burger {
  width: 50%;
  margin: auto;
  height: 450px;
  overflow: auto;
  font-weight: bold;
  font-size: 1.2rem;
}

@media (max-width: 1024px) and (max-height: 700px) {
  .Burger {
    width: 350px;
    height: 400px;
  }
}

@media (max-width: 700px) and (max-height: 600px) {
  .Burger {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 500px) and (max-height: 450px) {
  .Burger {
    width: 300px;
    height: 325px;
  }
}

@media (max-width: 500px) and (max-height: 400px) {
  .Burger {
    width: 300px;
    height: 300px;
  }
}
